body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.circle-btn {
    width: 100px;
    height: 100px;
    margin: 0 20px;
    background-color: gray;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.circle-btn:active {
    transform: scale(0.9);
    background-color: #cccccc;
}

.rect-btn {
    width: 800px;
    height: 100px;
    background-color: orange;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    margin-top: 20px;
}

.rect-btn:active {
    transform: scale(0.95);
    background-color: #ffcc66;
}

.small-circle-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: gray;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.small-circle-btn:active {
    transform: scale(0.9);
    background-color: #cccccc;
}
